.button
{
  font-size:   $font-size-large;
  font-weight: 300;

  padding:     $s-size;

  color:       white;
  border:      none;
  background:  $blue;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--link
{
  background: none;
}

.login-button
{
  display:         flex;
  justify-content: center;
}

.login-button__button
{
  display:         flex;
  align-items:     center;
  justify-content: space-evenly;

  width:           22rem;

  transition:      border .3s ease-in-out;
  text-align:      right;

  border-radius:   5px;
  background:      $google-blue;
}

.login-button__button:hover
{
  border: 1px solid darken($google-blue, 10%);
}

.login-button__image
{
  height: 5rem;
  margin: -3px 0 -4px -14px;
}

.login-button__text
{
  font-size:     $font-size-large;
  font-weight:   300;

  align-content: center;

  color:         white;
}
