.text-input {
  border: $grey-border;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
}

.select {
  @extend .text-input;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}