html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: 'Roboto', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}
